<div class="row mt-5 gap-5" style="min-height: 100%">
  <div
    class="col-md-6 d-flex flex-column justify-content-center"
    style="max-width: 25rem"
  >
    <h1>Welcome to Recipe Finder 🥘</h1>
    <p>
      This is a simple recipe finder application that allows you to search for
      recipes based on the ingredients you have at home.
    </p>
    <p>
      You can search for recipes by clicking on the "Recipes" link in the
      navigation bar. Also look up some ingredients and categories to get
      started!
    </p>
  </div>
  <div class="col-md-6" style="flex: 1">
    <img
      class="img-fluid rounded shadow"
      style="width: 100%"
      src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?q=80&w=1492&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="splash image"
    />
  </div>
</div>
