<div class="row">
  <div class="col my-3 mx-5">
    <h2 mat-dialog-title>Manage Categories</h2>
    <mat-dialog-content>
      <form #categoryForm="ngForm">
        <div class="mb-3">
          <label for="categoryName" class="form-label">Category Name</label>
          <input
            type="text"
            class="form-control"
            name="categoryName"
            id="categoryName"
            placeholder="Vegetables"
            required
            [(ngModel)]="categoryDetails.name"
          />
          @if (categoryForm.controls['categoryName'] &&
          categoryForm.controls['categoryName'].touched &&
          categoryForm.controls['categoryName'].invalid) {
          <div class="text-danger">This field is required!</div>
          }
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions class="justify-content-between">
      <button mat-button (click)="onCancelClick()">Cancel</button>
      <button mat-button (click)="categoryManageSubmit(categoryForm)">
        {{ data.category ? "Edit Category" : "Add Category" }}
      </button>
    </mat-dialog-actions>
  </div>
</div>
