@if (isLoggedIn$ | async) {
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col" style="width: 100%">Ingredient</th>
      <th scope="col" class="text-center">Edit</th>
      <th scope="col" class="text-center">Delete</th>
    </tr>
  </thead>
  <tbody>
    @if ((ingredients$ | async)?.length === 0) {
    <tr>
      <td colspan="3" class="text-center">No ingredients found!</td>
    </tr>
    } @for(ingredient of ingredients$ | async; track ingredient.ingredientId) {
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>
        <button
          mat-mini-fab
          color="primary"
          class="rounded"
          (click)="onEditClick(ingredient)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td>
        <button
          mat-mini-fab
          color="warn"
          class="rounded"
          (click)="onDeleteClick(ingredient.ingredientId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
}
