.fileUploadContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
  width: 100%;
  height: 100%;
  border: dashed 1px #979797;
  text-align: center;
  justify-content: center;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .noImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    button {
      font-size: 11px;
    }
  }

  .deleteButton {
    position: absolute;
    z-index: 10;
    top: 7px;
    inset-inline-end: -10px;
    opacity: 50%;
  }

  .fileInput {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
  }
}

.recipe-details-col {
  & > * {
    width: 100%;
  }
}
